@(orderForm: Form[CustomerOrder]
)(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._
@main(Messages("customerorders.form")) {
<h2>@Messages("customerorders.form")</h2>
@helper.form(action = routes.Products.save()) {
<fieldset>
    <legend>
        @Messages("Add new customer order", Messages("products.new"))
    </legend>
    @helper.inputText(orderForm("idCustomerOrder"))
    @helper.inputText(orderForm("idAddress"))
    @helper.inputText(orderForm("idCustomer"))
</fieldset>
<p><input type="submit" class="btn primary"
          value='@Messages("products.new.submit")'></p>
}
}